$media-query-size-selectors: (
	sm,
	md,
  lg,
  xl
);

$media-query-break-points: (
	480px,
  768px,
  990px,
  1200px,
);

$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 990px;
$screen-xl: 1200px;