.header-with-divider {
  margin-bottom: 60px;
  h3 {
    font-weight: 500;
    font-size: 28px;
  }

  p {
    color: $font-grey;
  }

  text-align: center;

  .divider {
    margin: 15px 0;
    position: relative;

    &::after {
      content: '';
      background: $brand-purple;
      border-radius: 50%;
      position: absolute;
      padding: 6px;
      top: -4px;
      left: 50%;
      z-index: 100;
      transform: translateX(-50%);
    }

    hr {
      border: none;
      border-top: 3px solid $brand-purple;
      margin: 0 auto;
      width: 140px;
    }
  }

  &.header-with-divider-white {
    h3, p {
      color: white;
    }

    .divider {
      &::after {
        background: white;
      }
    }

    hr {
      border-top: 3px solid white;
    }
  }
}