<div id="section-intro">
  <div class="container container-xl">
    <div class="row">
      <div class="col-md-6 visible-md">
        <div class="image-container">
          <img src="/assets/images/mobile/slider-left-img.png" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-container">
          <h2>Introducing Zeedapp</h2>
          <p>Mobile, optimised</p>
          <a href=""><i class="fa fw fa-play"></i>Watch the video</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-white">
          <div class="image-container">
            <img src="/assets/images/service/service-img1.png" alt="">
          </div>
          <div class="text-container">
            <h3>Call service</h3>
            <p>Take The initative to call</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-white">
          <div class="image-container">
            <img src="/assets/images/service/service-img2.png" alt="">
          </div>
          <div class="text-container">
            <h3>Active warning</h3>
            <p>Timely detection of accidents</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-white">
          <div class="image-container">
            <img src="/assets/images/service/service-img3.png" alt="">
          </div>
          <div class="text-container">
            <h3>Care plan</h3>
            <p>The care content is pushed</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>