<div id="section-pricing" class="section-container">
  <div class="container container-xl">
    <div class="text-container header-with-divider">
      <h3>Pricing plans</h3>
      <div class="divider">
        <hr>
      </div>
      <p>Nemo enim ipsam voluptatem quia voluptas sit</p>
    </div>
    <div class="row">
      <div class="col-sm-4 pricing-plan-container">
        <div class="pricing-plan">
          <div class="plan-header">
            <h5>Bronze</h5>
            <p>$50/m</p>
          </div>
          <div class="plan-body">
            <ul>
              <li>10 Users</li>
              <li>1 Year</li>
              <li>512Mb RAM</li>
              <li>300GB SSD</li>
              <li>1TB Transfter</li>
              <li>24-hour support</li>
            </ul>
            <button>Order now</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4 pricing-plan-container">
        <div class="pricing-plan">
          <div class="plan-header">
            <h5>Bronze</h5>
            <p>$50/m</p>
          </div>
          <div class="plan-body">
            <ul>
              <li>10 Users</li>
              <li>1 Year</li>
              <li>512Mb RAM</li>
              <li>300GB SSD</li>
              <li>1TB Transfter</li>
              <li>24-hour support</li>
            </ul>
            <button>Order now</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4 pricing-plan-container">
        <div class="pricing-plan">
          <div class="plan-header">
            <h5>Bronze</h5>
            <p>$50/m</p>
          </div>
          <div class="plan-body">
            <ul>
              <li>10 Users</li>
              <li>1 Year</li>
              <li>512Mb RAM</li>
              <li>300GB SSD</li>
              <li>1TB Transfter</li>
              <li>24-hour support</li>
            </ul>
            <button>Order now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>