@import '../../../../styles/variables/index';

#section-counters {
  background-image: linear-gradient(rgba($brand-blue, .9), rgba($brand-blue, .9)), url('/assets/images/bg/ach-bg-img.jpg');
  background-size: cover;
  padding: 60px 20px;
  
  .counter {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;

    i {
      display: block;
      font-size: 28px;
      margin-bottom: 10px;
    }

    span {
      font-weight: bolder;
      font-size: 38px;
      margin-bottom: 5px;
    }

    p {
      font-size: 18px;
    }
  }
}