<div id="section-team" class="section-container">
  <div class="container container-xl">
    <div class="text-container header-with-divider">
      <h3>Meet our awesome team!</h3>
      <div class="divider">
        <hr>
      </div>
      <p>Nemo enim ipsam voluptatem quia voluptas sit</p>
    </div>
    <div class="row">
      <div class="col col-md-6 col-lg-3 team-member-container">
        <div class="team-member">
          <div class="image-container">
            <img src="/assets/images/team/team-img1.jpg" alt="">
          </div>
          <h5>John Doe</h5>
          <p>Web Developer</p>
          <div class="social-container">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-dribbble"></i>
          </div>
        </div>
      </div>
      <div class="col col-md-6 col-lg-3 team-member-container">
        <div class="team-member">
          <div class="image-container">
            <img src="/assets/images/team/team-img2.jpg" alt="">
          </div>
          <h5>Jane Doe</h5>
          <p>Web Developer</p>
          <div class="social-container">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-dribbble"></i>
          </div>
        </div>
      </div>
      <div class="col col-md-6 col-lg-3 team-member-container">
        <div class="team-member">
          <div class="image-container">
            <img src="/assets/images/team/team-img3.jpg" alt="">
          </div>
          <h5>John Doe</h5>
          <p>Web Developer</p>
          <div class="social-container">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-dribbble"></i>
          </div>
        </div>
      </div>
      <div class="col col-md-6 col-lg-3 team-member-container">
        <div class="team-member">
          <div class="image-container">
            <img src="/assets/images/team/team-img4.jpg" alt="">
          </div>
          <h5>Jane Doe</h5>
          <p>Web Developer</p>
          <div class="social-container">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-dribbble"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>