<div id="section-app-download" class="section-container">
  <div class="container container-xl">
    <div class="text-container header-with-divider header-with-divider-white">
      <h3>Download the app</h3>
      <div class="divider">
        <hr>
      </div>
      <p>Nemo enim ipsam voluptatem quia voluptas sit</p>
    </div>
    <div class="row download-stores-container">
      <div class="col col-md-4 download-store">
        <button><i class="fab fa-android"></i>Android</button>
      </div>
      <div class="col col-md-4 download-store">
        <button><i class="fab fa-windows"></i>Windows</button>
      </div>
      <div class="col col-md-4 download-store">
        <button><i class="fab fa-apple"></i>iOS</button>
      </div>
    </div>
  </div>
</div>