<div id="section-news" class="section-container">
  <div class="container container-xl">
    <div class="text-container header-with-divider">
      <h3>Latest news</h3>
      <div class="divider">
        <hr>
      </div>
      <p>Nemo enim ipsam voluptatem quia voluptas sit</p>
    </div>
    <div class="row blog-posts-container">
      <div class="col col-md-6 col-lg-4 blog-post">
        <div class="image-container">
          <img src="assets/images/blog/blog-post-img.jpg" alt="">
        </div>
        <div class="blog-stats-contianer">
          <div class="blog-stats-user">
            <i class="fa fa-user"></i> John
          </div>
          <div class="blog-stats-comments visible-md">
            <i class="fa fa-comment"></i> Comments
          </div>
          <div class="blog-stats-date">
            <i class="fa fa-calendar"></i> 24/02/1987
          </div>
        </div>
        <div class="text-container">
          <h5>There are many variations</h5>
          <p>Lorem ipsum dolor sit amet,ut consectetur adipisicing elit,eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
      <div class="col col-md-6 col-lg-4 blog-post">
        <div class="image-container">
          <img src="assets/images/blog/blog-post-img1.jpg" alt="">
        </div>
        <div class="blog-stats-contianer">
          <div class="blog-stats-user">
            <i class="fa fa-user"></i> John
          </div>
          <div class="blog-stats-comments visible-md">
            <i class="fa fa-comment"></i> Comments
          </div>
          <div class="blog-stats-date">
            <i class="fa fa-calendar"></i> 24/02/1987
          </div>
        </div>
        <div class="text-container">
          <h5>There are many variations</h5>
          <p>Lorem ipsum dolor sit amet,ut consectetur adipisicing elit,eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
      <div class="col col-md-6 col-lg-4 blog-post">
        <div class="image-container">
          <img src="assets/images/blog/blog-post-img2.jpg" alt="">
        </div>
        <div class="blog-stats-contianer">
          <div class="blog-stats-user">
            <i class="fa fa-user"></i> John
          </div>
          <div class="blog-stats-comments visible-md">
            <i class="fa fa-comment"></i> Comments
          </div>
          <div class="blog-stats-date">
            <i class="fa fa-calendar"></i> 24/02/1987
          </div>
        </div>
        <div class="text-container">
          <h5>There are many variations</h5>
          <p>Lorem ipsum dolor sit amet,ut consectetur adipisicing elit,eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
  </div>
</div>