<div id="section-about" class="section-container">
  <div class="container container-xl">
    <div class="text-container header-with-divider">
      <h3>About App</h3>
      <div class="divider">
        <hr>
      </div>
      <p>Nemo enim ipsam voluptatem quia voluptas sit</p>
    </div>
    <div class="row">
      <div class="col-md-6 visible-md">
        <div class="image-container">
          <img src="/assets/images/about/abt-left-img.png" alt="">
        </div>
      </div>
      <div class="col-md-6 container-flex">
        <div class="text-container">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiuiosmod terttmpor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. doliuor in reprehenderit in voluptate velit esse dolore eu fugiat nulla pariatur. cdatat non proident</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tuiempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
        </div>
      </div>
    </div>
  </div>
</div>