@import '../../../../styles/variables/index';

#section-about {
  padding-bottom: 30px;

  .container-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .text-container {
      text-align: left;

      p {
        color: $font-grey;
        font-size: 16px;
        line-height: 1.8em;
        margin-bottom: 25px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  .image-container {
    img {
      margin: 0 auto;
      width: 80%;
    }
  }

  @media(min-width: $screen-md) {
    padding: 60px 25px 90px 25px;
  }

  @media(min-width: $screen-lg) {
    padding: 60px 35px 90px 35px;
  }
}