@import '../../../../styles/variables/index';

#section-features {
  background: #F9F9F9;
  padding: 60px 20px;

  .center-container {
    display: none;
    .image-container {
      img {
        margin: 0 auto;
        width: 70%;
      }
    }
    
    @media(min-width: $screen-lg) {
      display: block;
    }
  }

  .features-container {
    .feature {
      max-width: 400px;
      margin: 0 auto;
      .image-container {
        max-width: 60px;
      }

      @media(min-width: $screen-lg) {
        max-width: none;
      }
    }

    &.align-right {
      .text-container {
        padding: 0 20px 0 0;
        text-align: right;
      }
    }
    
    .text-container {
      padding: 0 0 0 20px;
      margin-bottom: 60px;
      text-align: left;

      p {
        color: $font-grey;
      }

      h5 {
        font-size: 24px;
      }
    }
  }
}