<div id="section-features" class="section-container">
  <div class="container container-xl">
    <div class="text-container header-with-divider">
      <h3>Features</h3>
      <div class="divider">
        <hr>
      </div>
      <p>Nemo enim ipsam voluptatem quia voluptas sit</p>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 features-container align-right">
        <div class="row feature">
          <div class="col-10">
            <div class="text-container">
              <h5>Full Optional</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, iumod tempor incididunt</p>
            </div>
          </div>
          <div class="col-2">
            <div class="image-container">
              <img src="assets/images/icon/feature/1.png" alt="">
            </div>
          </div>
        </div>
        <div class="row feature">
          <div class="col-10">
            <div class="text-container">
              <h5>Unique Design</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, iumod tempor incididunt</p>
            </div>
          </div>
          <div class="col-2">
            <div class="image-container">
              <img src="assets/images/icon/feature/2.png" alt="">
            </div>
          </div>
        </div>
        <div class="row feature">
          <div class="col-10">
            <div class="text-container">
              <h5>Voice Maker</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, iumod tempor incididunt</p>
            </div>
          </div>
          <div class="col-2">
            <div class="image-container">
              <img src="assets/images/icon/feature/3.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 visible-lg center-container">
        <div class="image-container">
          <img src="/assets/images/mobile/ft-screen-img.png" alt="">
        </div>
      </div>
      <div class="col-md-6 col-lg-4 features-container">
        <div class="row feature">
          <div class="col-2">
            <div class="image-container">
              <img src="assets/images/icon/feature/1.png" alt="">
            </div>
          </div>
          <div class="col-10">
            <div class="text-container">
              <h5>Full Optional</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, iumod tempor incididunt</p>
            </div>
          </div>
        </div>
        <div class="row feature">
          <div class="col-2">
            <div class="image-container">
              <img src="assets/images/icon/feature/2.png" alt="">
            </div>
          </div>
          <div class="col-10">
            <div class="text-container">
              <h5>Unique Design</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, iumod tempor incididunt</p>
            </div>
          </div>
        </div>
        <div class="row feature">
          <div class="col-2">
            <div class="image-container">
              <img src="assets/images/icon/feature/3.png" alt="">
            </div>
          </div>
          <div class="col-10">
            <div class="text-container">
              <h5>Voice Maker</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, iumod tempor incididunt</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>